$header-background: #0e0f10;
$lighter-header: #22262a;
$lightest: hsl(0, 0%, 100%);
$lighter: hsl(0, 0%, 70%);
$light: hsl(0, 0%, 60%);
$darker: hsl(0, 0%, 50%);
$darkest: hsl(0, 0%, 20%);
$active-color: #6d67ff;
$second-active-color: #67ff6d;
$third-active-color: #ff6d67;


.readMore {
    display: inline-block;
    margin: 0.25em 0.5em;
    padding: 0.125em 0.25em;
    font-size: 0.9rem;
    color: $active-color;
    // background: red;
}