.section-heading {
  margin-top: 1rem;
  font-size: 0.8rem;
  border-bottom: 1px solid #a8a9a4;
  width: 100%;

  .title {
    margin-bottom: 0.25rem;
  }
}

// Icons
.like-icon {
  font-size: 1.5em;
  margin-right: 0.25rem;
}
