$header-background: #12161e;
$font-color: #dcdcdc;
$active-color: #f5f5f5;

.nav-bar {
  height: 5rem;
  width: 100%;
  background-color: $header-background;
}

.menu {
  height: 100%;
  width: 600px;
  margin: 0 auto;
  display: flex;
  color: $font-color;
  list-style: none;
  align-items: center;
  justify-content: space-between;

  .item-container {
    display: flex;
    flex-direction: row;
  }

  .menu-item {
    margin: 0 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

    &:visited {
      color: inherit;
    }

    &:hover {
      color: $active-color;
    }
  }
}

.home {
  font-weight: bold;
  font-size: 1.5rem !important;
}
