.nav-bar {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 5rem;

  .nav-item {
    margin: 0 0.5rem;
    text-decoration: none;
  }
}

.home {
  margin-right: 5rem !important;
  font-weight: bold;
  font-size: 1.5rem;
}
