$header-background: #0e0f10;
$lighter-header: #22262a;
$font-color: #fefefe;
$active-color: #6d67ff;
$accessory-color: #6d67ff;

.nav-bar {
  height: 5rem;
  width: 100%;
  background-color: $header-background;
}

.menu {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  display: flex;
  color: $font-color;
  list-style: none;
  align-items: center;
  justify-content: space-between;

  .item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-item {
    margin: 0 0.75rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &:visited {
      color: inherit;
    }

    &:active,
    &:hover {
      color: $active-color;
    }
  }

  .search {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    .search-bar {
      width: 150px;
      padding: 0.5rem;
      background-color: $lighter-header;
      color: $active-color;
      border: 1px solid transparent;
      border-radius: 5px;

      &:focus {
        border: 1px solid $accessory-color;
      }
    }
    .search-btn {
      background-color: $accessory-color;
      color: $font-color;
      font-size: 1.3rem;
      border: none;
      border-radius: 50%;
      padding: 0.3rem;
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .search-icon {
        margin: auto;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.home {
  font-weight: bold;
  font-size: 1.5rem !important;
}

.active:active {
  color: $active-color;
}
