$header-background: #0e0f10;
$lighter-header: #22262a;
$lightest: hsl(0, 0%, 100%);
$lighter: hsl(0, 0%, 70%);
$light: hsl(0, 0%, 60%);
$darker: hsl(0, 0%, 50%);
$darkest: hsl(0, 0%, 20%);
$active-color: #6d67ff;
$second-active-color: #67ff6d;
$third-active-color: #ff6d67;


.content {
  width: 50%;
  margin: auto;
  //   overflow: hidden;
}

.trending-shows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;

  .trending-show {
    margin: 0 0.45rem;
    height: 268px;
    width: 180px;
    border: 3px solid transparent;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      border: 3px solid $active-color;
    }
  }
}
