$dark-color: #1c222e;
$light-color: #f5f5f5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  color: $light-color;
  background: rgb(34, 38, 42);
  background: linear-gradient(
    180deg,
    rgba(34, 38, 42, 1) 10%,
    rgba(14, 15, 16, 1) 40%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
